/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~@angular/material/theming';

@include mat-core();

html, body { 
    height: 100%; 
}

body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-snack-bar-container.succssSnackBar {
    background-color: map-get($mat-green, 'darker');
}

.mat-snack-bar-container.warningSnackBar {
    background-color: map-get($mat-red, 'darker');
}
