:host {
    width: 100%;
    display: block;
    height: 100%;
}

table {
    width: 100%;
}

.btn-add-container {
    z-index: 1000;
    position: absolute;
    display: flex;
    width: 100%;
    max-width: 1080px;
    align-items: flex-end;
    flex-direction: column;
    padding-top: 10px;

    button {
        margin-right: 10px;
    }
}